mat-form-field {
    width: 300px;
}

button {
    height: 3.5em;
    width: 8em;
}

.my-container {
    position: relative;
    overflow: hidden;
}
.my-container .signin-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    max-height: 100%;
    z-index: 1;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
}