<mat-toolbar color="accent">
  <div>
      <button
       mat-icon-button
       fxHide.gt-xs
       (click)="onnavbarToggle()"><mat-icon>menu</mat-icon></button>
  </div>
    <div>
      <a class="logo" [routerLink]="[ '/' ]">Project Tracker</a>
    </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout="row" fxLayoutGap="20px" class="navigation-items">
          <li *ngIf="isAuth$ | async"><a [routerLink]="[ '/projects/projects-list' ]">Projects</a></li>
          <li *ngIf="!(isAuth$ | async)"><a [routerLink]="[ '/signup' ]">Register</a></li>
          <li *ngIf="!(isAuth$ | async)"><a [routerLink]="[ '/login' ]">Log-in</a></li>
          <li *ngIf="isAuth$ | async"><a (click)="onLogout()">Log-out</a></li>
      </ul>
  </div>
</mat-toolbar>