<h1>Projects list</h1>
<mat-accordion>
  <ng-container>
    <h3>Active projects:</h3>
    <mat-expansion-panel *ngFor="let project of projects; let i=index" (closed)="onPanelClose()">
      <mat-expansion-panel-header *ngIf="project.status == 'In Progress'">
        <mat-panel-title fxLayoutAlign="start center">Job ID: {{ project.jobId }}</mat-panel-title>
        <mat-panel-description fxLayoutAlign="center center">Customer Name: {{project.customerName}}</mat-panel-description>
        <mat-panel-description fxLayoutAlign="end center">
          <div *ngFor="let comment of project.journalComments; let last = last">
              <div *ngIf="last">Last update: {{comment.date | date}}</div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-projects-details [project]="project" [i]="i"></app-projects-details>
      </ng-template>
    </mat-expansion-panel>
    
    <h3>Completed projects:</h3>
    <mat-expansion-panel *ngFor="let project of projects; let i=index" (closed)="onPanelClose()">
        <mat-expansion-panel-header *ngIf="project.status == 'Complete'">
          <mat-panel-title fxLayoutAlign="start center">Job ID: {{ project.jobId }}</mat-panel-title>
          <mat-panel-description fxLayoutAlign="center center">Customer Name: {{project.customerName}}</mat-panel-description>
          <mat-panel-description fxLayoutAlign="end center">
            <div *ngFor="let comment of project.journalComments; let last = last">
                <div *ngIf="last">Last update: {{comment.date | date}}</div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-projects-details [project]="project" [i]="i"></app-projects-details>
        </ng-template>
      </mat-expansion-panel>
  </ng-container>
</mat-accordion> 

