<h1>Projects list</h1>
<mat-accordion>
  <ng-container>
    <section *ngIf="!(isLoading$ | async)">
        <h3>Active projects:</h3>
        <mat-expansion-panel *ngFor="let project of (projects$ | async); let i=index" (closed)="onPanelClose()">
          <mat-expansion-panel-header *ngIf="project.status == 'In Progress'">
            <mat-panel-title fxLayoutAlign="start center">Job ID: {{project.jobId}}</mat-panel-title>
            <mat-panel-description fxLayoutAlign="center center">Customer Name: {{project.customerName}}</mat-panel-description>
            <mat-panel-description fxLayoutAlign="end center">
              <div *ngFor="let comment of project.journalComments; let last = last">
                  <div *ngIf="last">Last update: {{comment.date.toDate() | date}}</div>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <ng-template matExpansionPanelContent>
            <app-projects-details [project]="project" [index]="i"></app-projects-details>
          </ng-template>
        </mat-expansion-panel>
    </section>

    <section *ngIf="!(isLoading$ | async)">
        <h3>Completed projects:</h3>
        <mat-expansion-panel *ngFor="let project of (projects$ | async); let i=index" (closed)="onPanelClose()">
            <mat-expansion-panel-header *ngIf="project.status == 'Complete'">
              <mat-panel-title fxLayoutAlign="start center">Job ID: {{ project.jobId}}</mat-panel-title>
              <mat-panel-description fxLayoutAlign="center center">Customer Name: {{project.customerName}}</mat-panel-description>
              <mat-panel-description fxLayoutAlign="end center">
                <div *ngFor="let comment of project.journalComments; let last = last">
                    <div *ngIf="last">Last update: {{comment.date.toDate() | date }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
    
            <ng-template matExpansionPanelContent>
              <app-projects-details [project]="project" [index]="i"></app-projects-details>
            </ng-template>
          </mat-expansion-panel>
    </section>
  </ng-container>
</mat-accordion>
<div *ngIf="isLoading$ | async" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>




