<section fxLayoutGap="20px" fxLayout="column">
  <h1 fxLayoutAlign="center center">Job ID: {{ specificProject.jobId }} / Customer name: {{ specificProject.customerName }}</h1>
  <h3>Recent Updates:</h3>
  <form fxLayoutGap="10px" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-form-field>
        <input
          matInput
          placeholder="Comment"
          ngModel
          name="comment"
          required>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Date"
          ngModel
          name="date"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button
         type="submit"
         mat-raised-button color="accent"
         [disabled]="f.invalid">Submit</button>
      </div>
  </form>
  <div>
    <button mat-raised-button [routerLink]="['/projects/projects-list']" color="accent">Go back to active projects</button>
  </div>
  <mat-list fxFlexFill>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let comment of specificProjectComments; let i=index">
        <div fxFlexFill fxLayoutAlign="start center">
            <div fxFlex>{{comment.comment}}
              <span fxFlex fxLayoutAlign="end">{{comment.date.toDate() | date}}</span>
              <mat-divider></mat-divider>
            </div>
        </div>
      </mat-list-item>
  </mat-list>
</section>

